* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    max-width: 1215px;
    width: 100%;
    margin: 0 auto;
}

.navbar__wrap {
    display: flex;
    justify-content: space-between;
}

.header {
    padding-top: 45px;
}

.hn__list {
    display: flex;
    gap: 70px;
    list-style: none;
}

.hn__block {
    display: flex;
    gap: 150px;
    align-items: center;
}

.hn__registration {
    display: flex;
    gap: 30px;
    align-items: center;
}
.header__bg-1{
    position: absolute;
    top: 0%;
    z-index: -3;
}
.header__bg-2{
    position: absolute;
    z-index: -2;
    left: 290px;
    top: -75px;
}
.header__bg-3{
    position: absolute;
    z-index: -1;
    left: 635px;
    top: -77px;
}
.hn__logo{
    font-family: 'Comfortaa-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.hn__list-link{
    text-decoration: none;
    font-family: 'Comfortaa-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
}
.login-link{
    font-family: 'Poppins-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 13.4237px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.hn-button{
    cursor: pointer;
    border: none;
    outline: none;
    font-family: 'Poppins-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 13.4237px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    color: #BB6DF3;
    background-color: #FFFFFF;
    width: 132px;
    height: 36px;
    border-radius: 30px;
}
.fs--left{
    padding-top: 170px;
    display: flex;
    flex-direction: column;
}
.fs--left h1{
    font-family: 'Roboto-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 70px;
    color: #3B668D;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.fs--left h2{
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.905em;
    text-transform: uppercase;
    color: #3B668D;
    margin-bottom: 25px;
}
.fs-span-1{
    width: 506px;
    height: 2px;
    background: #3B668D;
    margin-bottom: 40px;
}
.fs--left h3{
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 156%;
    text-transform: uppercase;
    color: #3B668D;
    margin-bottom: 15px;
}
.fs--left p{
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.075em;
    color: #2B4964;
}
.fs--left button{
    width: 308px;
    height: 79px;
    margin-top: 25px;
    background: linear-gradient(90deg, #5AC4FF 0%, #B250FF 100%);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    border-radius: 62px;
    border: none;
    outline: none;
    font-family: 'Comfortaa-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.fs-span-2::before{
    content: url(../../assets/images/button-circle.svg);
    position: absolute;
    left: 1%;
    top: -2%;
}
.fs-span-3::before{
    content: url(../../assets/images/button-circle-2.png);
    position: absolute;
    left: 21.13px;
    top: -5%;
}
.fs-span-4::before{
    content: url(../../assets/images/button-circle-3.png);
    position: absolute;
    left: 215.4px;
    top: 26px;
}
.first__section .container{
    position: relative;
}
.fs--right{
    position: absolute;
    left: 39%;
    top: 22%;
}
.start{
    overflow: hidden;
    position: relative;
    padding-bottom: 150px;
}
.vector img:nth-of-type(1){
    position: absolute;
    z-index: -1;
    top: 55%;
    left: 1px;
}
.vector img:nth-of-type(2){
    position: absolute;
    top: 76%;
    left: 1px;
}
.advantage__section{
    display: flex;
    padding-top: 100px;
    align-items: center;
}
.advantage--left{
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
    width: 1050px;
    height: 1100px;
}
.advantage--left img:nth-of-type(2){
    width: 847px;
    position: absolute;
    top: 10%;
}
.advantage--left img:nth-of-type(1){
    width: 1000px;
    position: absolute;
    z-index: -1;
}
.advantage__block h2{
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #3B668D;
    text-transform: uppercase;
}
.advantage--right{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.advantage__block p{
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B4964;
}
.fa-lock{
    content: url(../../assets/images/lock-icon.svg);
    background: url(../../assets/images/icon-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 93px;
    height: 90px;
    padding: 28px 26px 26px 24px;
}
.advantage__card{
    display: flex;
    gap: 25px;
}
.fa-globe{
    content: url(../../assets/images/globe-icon.svg);
    background: url(../../assets/images/icon-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 93px;
    height: 90px;
    padding: 18px 22px 22px 19px;
}
.fa-picture{
    content: url(../../assets/images/picture-icon.svg);
    background: url(../../assets/images/icon-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 93px;
    height: 90px;
    padding: 24px 22px 22px 24px;
}
.fa-speedometer{
    content: url(../../assets/images/speedometer-icon.svg);
    background: url(../../assets/images/icon-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 93px;
    height: 90px;
    padding: 24px 24px 22px 22px;
}
.premium__section{
    position: relative;
}
.premium--top{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.premium--top h2{
    font-family: 'Roboto-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.285em;
    text-transform: uppercase;
    color: #3B668D;
}
.premium--top p{
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #79788F;
}
.premium--bottom{
    display: flex;
    justify-content: center;
    padding-top: 75px;
    gap: 40px;
    align-items: center;
}
.premium__card-1{
    padding-top: 50px;
    width: 450px;
    height: 870px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FCFCFF;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.premium__card-1 img{
    position: absolute;
    top: 0%;
    left: 0%;
}
.premium__card-1 h3{
    margin-top: 90px;
    margin-bottom: 35px;
    font-family: 'Comfortaa-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #3B668D;

}
.premium__card-1 h2,
.premium__card-2 h2,
.premium__card-3 h2{
    margin-bottom: 100px;
    font-family: 'Comfortaa-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 71px;
    text-align: center;
    color: #8572FF;
}
.premium-span{
    width: 308px;
    height: 1px;
    background: #D3D3D3;
    margin-bottom: 70px;
}
.premium-subtitle{
    font-family: 'Comfortaa-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 75px;
    color: #567796;
}
.premium__block{
    display: flex;
    width: 308px;
    justify-content: space-between;
    align-items: center;
}
.fa-check{
    content: url(../../assets/images/check-icon.svg);
}
.premium-check__block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 245px;
}
.premium__card-2{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 3px rgba(221, 221, 221, 1);
    width: 620px;
    height: 1002px;
    align-items: center;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.premium-card-subtitle-1{
    font-family: 'Comfortaa-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #40BF3D;
    margin-top: 90px;
}
.premium__card-2 h3{
    margin-top: 13px;
    margin-bottom: 35px;
    font-family: 'Comfortaa-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #3B668D;
}
.premium__card-2 button{
    width: 308px;
    height: 79px;
    background: linear-gradient(90deg, #43A1D6 0%, #907EFF 100%);
    border-radius: 62px;
    border: none;
    outline: none;
    font-family: 'Comfortaa-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 80px;
    margin-bottom: 45px;
    cursor: pointer;
}
.premium-card-subtitle-2{
    font-family: 'Comfortaa-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #567796;
}
.premium__card-2 img:nth-of-type(1){
    position: absolute;
    left: 0%;
    z-index: -1;
}
.premium__card-2 img:nth-of-type(2){
    position: absolute;
    left: 0%;
}
.premium__card-3 img:nth-of-type(1){
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: -1;
}
.premium__card-3 img:nth-of-type(2){
    position: absolute;
    right: 0%;
    top: 0%;
}
.premium__card-3{
    width: 450px;
    height: 870px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FCFCFF;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: -2;
    padding-top: 120px;
}
.premium__card-3 h3{
    font-family: 'Comfortaa-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #3B668D;
    margin-bottom: 40px;
}
.vector-1{
    position: absolute;
    top: 40%;
    z-index: -1;
    left: 1px;
}
.vector-2{
    position: absolute;
    top: 48%;
    left: 1px;
}
.numbers__section{
    padding-top: 280px;
    display: flex;
    gap: 80px;
    justify-content: center;
    position: relative;
    margin-bottom: 250px;
}
.numbers--left{
    display: flex;
    align-items: center;
    gap: 30px;
}
.numbers__block h3{
    font-family: 'Comfortaa-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 47px;
    text-align: center;
    color: #425B8C;
    margin-bottom: 15px;
}
.numbers__block p{
    font-family: 'Comfortaa-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #718DC2;
}
.numbers__block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.fa-download{
    content: url(../../assets/images/download-icon.svg);
}
.numbers--right{
    display: flex;
    align-items: center;
    gap: 30px;
}
.fa-user{
    content: url(../../assets/images/user-icon.svg);
}
.numbers__section img:nth-of-type(1){
    position: absolute;
    left: 1px;
    z-index: -1;
    top: 55%;
}
.numbers__section img:nth-of-type(2){
    position: absolute;
    left: 1px;
    top: 70%;
}
.numbers__section img:nth-of-type(3){
    position: absolute;
    right: 1px;
    top: 56%;
    z-index: -2;
}
.numbers__section img:nth-of-type(4){
    position: absolute;
    right: 1px;
    top: 65%;
    z-index: -1;
}
.numbers__section img:nth-of-type(5){
    position: absolute;
    right: 1px;
    top: 85%;
}
.footer{
    height: 1090px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.footer img{
    position: absolute;
    bottom: 0%;
    z-index: -1;
}
.footer{
    overflow: hidden;
}
.ftr--top{
    max-width: 1550px;
    width: 100%;
    display: flex;
    gap: 170px;
    margin-top: 430px;
    justify-content: end;
}
.ftr-card-1 h2{
    font-family: 'Comfortaa-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 70px;
}
.ftr-card-1 p{
    font-family: 'Comfortaa-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #FFFFFF;
}
.ftr-card-1{
    display: flex;
    flex-direction: column;
}
.ftr-card-2{
    display: flex;
    flex-direction: column;
}
.ftr-card-2 h2{
    font-family: 'Comfortaa-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 70px;
}
.ftr-card-2 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.ftr-card-2 a{
    font-family: 'Comfortaa-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.ftr-card-3{
    display: flex;
    flex-direction: column;
}
.ftr-card-3 h2{
    font-family: 'Comfortaa-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 70px;
}
.ftr-card-3 p{
    font-family: 'Comfortaa-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
}
.ftr--bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}
.ftr--bottom span{
    width: 1530px;
    height: 1px;
    background: #FFFFFF;
    opacity: 0.4;
    margin-bottom: 65px;
}
.ftr--bottom p{
    font-family: 'Comfortaa-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
}

.hamb,
.popup{
    display: none;
}
@media (max-width:1320px) {
    .hn__block{
        gap: 60px;
    }
    .navbar__wrap{
        justify-content: center;
        gap: 40px;
    }
}
@media (max-width:1025px) {
    .hn__block{
        display: none;
    }
    .hamb{
        display: flex;
        align-items: center;
    }
    .hamb__field{
        cursor: pointer;
    }
    .bar{
        display: block;
        background: #FFFFFF;
        border-radius: 22px;
        width: 50px;
        height: 5px;
        margin: 5px auto;
        transition: .2s;
    }
    .header{
        padding-top: 30px;
    }
    .hn__list{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .hn__registration{
        display: flex;
        flex-direction: column;
    }
    .popup__block{
        width: 230px;
        height: 300px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 15px;
        align-items: center;
    }
    .popup{
        position: fixed;
        top: 80px;
        right: -100%;
        width: 160px;
        height: 300px;
        z-index: 100;
        background: linear-gradient(180deg, #9039FF 0%, #39B8FF 100%);
        display: flex;
        transition: 0.6s;
        border-radius: 30px;
    }
    .navbar__wrap{
        max-width: 700px;
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
    }
    .popup.open{
        right: 10%;
    }
}
